// app global css in SCSS form
.auth-background {
  background-image: url(images/auth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.card {
  width: 400px;
  background-color: white;
  margin: 300px auto 0;
  border-radius: 20px;
  padding: 20px;
}
.dashboard-background {
  background-image: url(images/auth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.avatarBox {
  background-image: radial-gradient(
    rgb(245, 246, 240),
    rgb(2, 136, 209),
    rgb(5, 77, 139)
  );
  width: 100%;
  height: 300px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.9);
}
